footer{
    position: fixed;
    bottom:0;
    width:100%;
    text-align:center;
    font-weight:bold;
    border-top:1px solid rgba(255, 254, 196, .5);
    background-color: rgba(255, 155, 155,.8);
}
footer nav{
    color:#fff;
    justify-content: space-around;
    padding:1rem;
    max-width: 1000px;
    margin:0 auto;
}
footer ul{
    padding:0;
}
footer ul:last-of-type{
    max-width: 15rem;
}
form{
    display: flex;
    flex-flow: column nowrap;
    font-size: .9rem;
    color:#2b2b2b;
}
label{
    text-align: left;
    margin-top:.5rem;
    font-weight:100;
}
input[type="email"]{
    font-weight:lighter;
    text-align: left;
    padding:.5rem 1rem;
    margin: .5rem 0 1rem 0;
    border-radius: 20px;
    border:0;
}
input[type="submit"]{
    background-color: rgba(255, 214, 165,1);
    border-radius: 20px;
    border:0;
    padding:.5rem 1rem;
    font-weight:bolder;
}
@media screen and (max-width: 1200px){
    footer{
        position: relative;
    }
    footer ul:last-of-type{
        max-width: auto;
    }
    footer nav{
        flex-flow: column nowrap;
        max-width: 400px;
    }
    footer ul{
        display: flex;
        flex-flow: column nowrap;
    }
    footer ul:last-of-type{
        max-width: 100%;
        order:2;
    }
    input[type="email"]{
        text-align: center;
    }
    header nav ul{
        flex-flow: column nowrap;
    }
    footer h6{
        margin:.5rem 0;
    }
    .displayNone{
        display: none;
    };
}