@import "normalize.css";
@import "links.css";
@import "headings.css";
@import "footer.css";

html, body {
    height: 100%;
    width: 100%;
    font: 14px 'Work Sans', sans-serif;
    background-color: #FFFEC4;
}
main{
    display:flex;
    flex-flow:column nowrap;
    line-height:2rem;
    max-width: 960px;
    margin:0 auto;
    height:900px;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding:1rem;
}
header nav{
    align-items:baseline;
    color:#FF9B9B;
}
ul{
    list-style-type: none;
}
header nav li{
    display: inline;
}
p{
    padding-top:.5rem;
    padding-bottom:.5rem;
}
nav ul{
    margin:0;
    padding:0;
}
.displayNone{
    display: none;
}
@media screen and (max-width: 1200px){
    nav ul{
        display: flex;
        flex-flow: column nowrap;
    }
    header nav ul li{
        margin:1rem 0;
    }
    .displayNone{
        display: none;
    }
}